[Unit]
Description=Mycroft Core 1
After=mark2-microphone mark2-hal

[Service]
Type=forking
User=pi
WorkingDirectory=/opt/mycroft
ExecStart=/opt/mycroft/start-mycroft.sh all
ExecStop=/opt/mycroft/stop-mycroft.sh

[Install]
WantedBy=default.target
